/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 */
// @import 'materialize-css/dist/css/materialize';
@import "colors";

.loginHeader{
  background-color: orange;
  padding: 10px 30px;
  // display: flex;
  justify-content: flex-start;
  align-items: center;
  &__title, &__cuisines, &__logout{
    display: inline-block;
    // margin: 0px 15px;
    border-radius: 6px;
    padding: 2px 4px;
  }
  &__cuisines{
    background-color: black;
    border: 4px solid black;
    color: orange;
  }
  &__logout{
    border: 3px solid black;
    font-weight: bold;
    margin-left: 0;
  }
  &__container{
    margin-top: 14px;
    margin-bottom: 14px;
  }
}
#headerLink{
  display: inline-block;
  margin: 25px 30px;
}
.header{
  height: 100px;
  position: relative;
  z-index: 100;
  &__cart{
    position: fixed;
    background-color: $red1;
    top: 20px;
    right: 30px;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 35px;
    // z-index: 1000;
    &__text{
      font-size: 35px;
      display: inline-block;
    }
  }
  &__hover{
    display: none;
    position: fixed;
    top: 79px;
    right: 30px;
    box-shadow: 0px 5px 10px 5px lightgray;
    border-radius: 6px;
    z-index: 500;
    background-color: white;
    &__restaurant{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      &:hover{
        background-color: $red2;
        color: white;
      }
      &__name{
      display: inline-block;
      font-size: 30px;
      margin-right: auto;
      }
      &__price{
      padding-left: 20px;
      font-size: 30px;
      }
    }
  }
}
#headerLink > img{
  width: 300px;
}
.fa-cart-arrow-down {
  font-size: 30px;
}
.fa-trash-alt{
  font-size: 20px;
  color: $red1;
  position: absolute;
  transform:  translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}
.fa-trash-alt__container{
  position: relative;
  margin-left: 15px;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  &:hover{
    background-color: white;
  }
}
.main{
  min-height: calc(100vh - 200px)

}
.footer{
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  &__info{
    &__left, &__right{
      padding: 12px 24px;
      border-radius: 6px;
      font-size: 30px;
    }
    &__left{
      margin-right: 40px;
      background-color: $red2;
      color: white;
      border: 4px solid $red2;
    }
    &__right{
      padding: 12px 24px;
      border-radius: 6px;
      margin-left: 40px;
      color: $red2;
      border: 4px solid $red2;
      background-color: white;
    }
  }
}
.header__signinLogin{
  text-align: center;
}
.header__info__left{
  background-color: $green;
  border: 4px solid $green;
  margin: 0 30px;
}
.header__info__right{
  border: 4px solid $green;
  color: $green;
  margin: 0 30px;
}

@media screen and (max-width:767px){
  .loginHeader__title > span{
    display: block;
  }
  .loginHeader__container > span{
    display: block;
    margin-top: 10px;
  }
  .header__cart__text{
    display: none;
  }
  .header__cart{
    border-radius: 50%;
    height: 82px;
    width: 82px;
    line-height: 53px;
  }
  .header__hover{
    top: 23px;
    right: -600px;
  }
  .header__hover__restaurant__name, .header__hover__restaurant__name, .header__hover__restaurant__price{
    font-size: 20px;
  }
  .footer__info__left, .footer__info__right{
    font-size: 16px;
    margin: 0 10px;
  }
  #headerLink > img{
    width: 240px;
  }
}

@media screen and (max-width:413px){
  .header__hover__restaurant__name, .header__hover__restaurant__name, .header__hover__restaurant__price{
    font-size: 18px;
  }
  .footer__info__left{
    display: block;
    margin-bottom: 30px;
  }
  #headerLink > img{
    width: 180px;
  }
}